.inp-send.btn.btn-danger {
	width: 6px;
	margin-left: 1px;
	padding-left: 3px;
}

#typing {
	visibility: hidden;
}
.controls {
	position: absolute;
	top: 200px;
	left: 100px;
}
#ud, #gtitle {
	cursor: pointer;
}
input[type="text"], input[type="password"] {
	height: 31px;
	line-height: 22px;
}
#refresh {
	padding: 0px;
}
.icon-spin {
	-webkit-animation-duration: 5s;
	-webkit-animation-name: iconrotator;
	-webkit-transition: all 1s linear;

	-moz-animation-duration: 5s;
	-moz-animation-name: iconrotator;
	-moz-transition: all 1s linear;

	-o-animation-duration: 5s;
	-o-animation-name: iconrotator;
	-o-transition: all 1s linear;

	animation-duration: 5s;
	animation-name: iconrotator;
	transition: all 1s linear;
}

@-webkit-keyframes iconrotator {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.chatlogin {
	color: #565656;
	margin-bottom: 20px;
}

h3 {
	font-size: medium;
}

#start {
	width: 190px;
	height: 50px;
	margin-top: 20%;
}

#drop > i {
	margin-top: 0px;
	padding: 5px;
}

#drop {
	margin-top: 20%;
	margin-right: -40px;
	padding-top: 10px;
	height: 30px;
	width: 60px;
}

#welcome {
	background-color: #fff;
	padding: 10px 10px 10px;
	border-radius: 6px;
	height: 80%;
	margin-top: 30px;
}

.inp-entry {
	margin-top: 5px;
	margin-left: 3px;
	margin-bottom: 1px;
	padding-right: 0px;
	width: 60%;
}

.inp-send {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.content > .conversation {
	background-color: #ECE373;
	height: 80%;
	width: 105%;
	border-radius: 6px;
	overflow: scroll;
}

.content > .conversation > .msg {
	background-color: #fff;
	color: red;
	border-radius: 16px;
	padding: 5px 5px 5px;
	word-wrap: break-word;
	margin-right: 20px;
}

.msg-sys {
	background-color: #fff;
	color: red;
	border-radius: 36px;
	padding: 5px 10px 5px;
	word-wrap: break-word;
	margin-right: 20px;
}

.content a {
	color: #111;
}

.chatlogin-admin i {
	padding: 5px;

}
#start {
	width: 90px;
	height: 40px;
	font-size: 20px;
	padding-top: 15px;
}
.content {
	background-color: #fff;
	border-radius: 6px;
	margin-bottom: 0px;
	margin: 5px 5px;
	color: #565656;
}
.admin-greeter {
	color: #fff;
}
